/* Réinitialisation de la mise en page par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #141414;
    overflow-x: hidden;
    line-height: 1.8; /* Ajout global de l'espacement entre les lignes */
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bcd4;
}

.section {
    padding: 100px 20px;
    max-width: 900px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Styling for the home section */
.welcome-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.welcome-content .text {
    flex: 1;
}

.welcome-content .photo img {
    width: 150px; /* Ajustez la taille selon vos besoins */
    height: auto;
    border-radius: 50%; /* Donne une forme circulaire à l'image */
    border: 2px solid #fff; /* Bordure blanche autour de l'image */
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.project, .diploma, .experience {
    margin-bottom: 30px;
}

.project h3, .diploma h3, .experience h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Background Animation */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(120deg, #00bcd4, #3f51b5, #ff4081);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Media Queries pour la responsivité */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .section {
        padding: 50px 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    /* Adaptez la disposition en mode mobile */
    .welcome-content {
        flex-direction: column;
        text-align: center;
    }

    .welcome-content .photo img {
        margin: 20px auto;
    }
}

p {
    line-height: 1.8;
}

h2, h3 {
    line-height: 1.5;
}

